
$messagecolor: hsl(0, 70%, 54%);
$background-color: rgb(252 165 165);


.home {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    overflow-y: auto;
    direction: ltr;


    @media screen and (max-width: 1024px) {
        margin-top: 3rem;
    }

    @media screen and (max-width: 768px) {
        margin-top: 2rem;
    }

    @media screen and (max-width: 480px) {
        margin-top: 1rem;
    }


}

body {
    background-color: $background-color;
    
}


.homeContainer {
    width: 75%;
    height: 80vh;
    display: flex;
  
        ::-webkit-scrollbar{
        height: 15px;
        width: 10px;
        }
        
        ::-webkit-scrollbar-track{
        background: rgba(255, 255, 255, 0.2);
        }
        
        ::-webkit-scrollbar-thumb{
        background: #d93d3d;
        border-radius: 5px;
        }
}

.sidebar {
    flex: 2;
    overflow: scroll;
    overflow-x: hidden;
      

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        margin-right: 5px;

        .user {
            display: flex;
            flex-direction: row;
            gap: 0.25rem;
            color: white;
            font-size: 30px;
        }            

        img {
            height: 36px;
            width: 36px;
            border-radius: 50%;
            object-fit: cover;
        }

        .chatButton {
            font-size: 11px;
            padding: 0px;
        }   
    }
}

.chat {
    flex: 5;

    .navbarChat {
        background-color: #d93d3d;
        color: white;
        height: 60px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 3px;
        border-radius: 15px;
        // border-top-right-radius: 10px;
        // border-bottom-right-radius: 10px;
        justify-content: space-between;
        
        .navbarChatContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
        }

        .textLeft {
            flex: 7;
            margin-left: 10px;
        }

        .navbarChatIcons {
            flex: 1;
            margin-right: 15px;
            display: flex;
            font-size: 30px;
            cursor: pointer;
            justify-content: space-between;
        }
  
    }
}

.search {
    position: relative;
    padding: 0px 10px;

    .inputItemSearch {
        display: flex;
        height: 32px;
        width: 100%;
        border-radius: 10px;
        padding: 10px;
        outline: none;
        border: transparent;
        color: white;
        font-size: 15px;
        margin: 0.5rem 0;
    }


    .searchIcon {
        position: absolute;
        top: 7px;
        color: white;
        left: 320px;
    }

    .userChat {
        padding: 0px 5px;
        border-bottom: solid 2px #d93d3d;

        img {
            height: 48px;
            width: 48px;
            border-radius: 50%;
        }

        .profile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
        }

        .userChatInfo {
            font-size: 15px;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }


        &:hover {
            background-color: #d93d3d;
        }
    }        
}


.chats {
    padding: 0px 10px;
    .userChat {

        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 2px;

        img {
            height: 48px;
            width: 48px;
            border-radius: 50%;
        }

        .profile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .userChatInfo {
            font-size: 14px;
            color: white;
            display: flex;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            flex-direction: row;
            justify-content: flex-end;
        }


        &:hover {
            background-color: #d93d3d;
        }
    }   
    }   

.messages {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    width: auto;
    height: 75%;
    overflow: scroll;
    overflow-x: hidden;
    
    .message {
        margin-top: 5px;
        margin-right: 10px;
        background-color: $messagecolor;
        border-radius: 20px;
        border-top-left-radius: 0px;
    }

    .messageContainer {
        display: flex;
        margin-top: 2px;
        flex-direction: row;
        height: auto;
        min-height: 80px;
        
        .playerProfileBox {

        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;


        .playerMessagePhoto {
                width: 32px;
                height: 32px;
                display: flex;
                flex-direction: column;
                border-radius: 50%;
                object-fit: cover;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                margin-left: 5px;
            }
        
        .playerMessageName {
            color: white;
        }
        }

        .playerMessage {
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;

            .playerMessageData{
                color:rgb(225, 133, 53);
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 12px;
                flex-direction: row;
                justify-content:  flex-start;
                width: 100%;
            }
        }
    }
}

.inputChat {
    display: flex;

    .inputChatContainer {
        display: flex;
        width: 95%;
        margin-left: 10px;
        background-color: #d93d3d;
        border-radius: 10px;
        border-color: #d93d3d;

        .inputChatItem {
            border: transparent;
            font-size: 16px;
        }
    }

    .inputIcon {
        font-size: 40px;
        margin-left: 5px;
        justify-content: center;
        align-items: center;
    }

}
