
$messagecolor: hsl(0, 70%, 54%);
$background-color: rgb(252 165 165);

.home {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    direction: ltr;
    margin-top: 4rem;
    overflow: hidden;     

    @media screen and (max-width: 1200px) {
        margin-top: 3rem;
        overflow: hidden;   
        font-size: 12px;  
    }

    @media screen and (max-width: 1024px) {
        margin-top: 1.0rem;
    }

    @media screen and (max-width: 768px) {
        overflow: hidden; 
        margin-top: 0rem;    
        padding: 12px;

    }

    @media screen and (max-width: 480px) {
        margin-top: 0;
        margin-top: 0rem;
        overflow: hidden;     
    }


}

body {
    background-color: $background-color;
}


.homeContainer {
    width: 85%;
    height: 80vh;
    display: flex;


    @media screen and (max-width: 1024px) {
        overflow: hidden;     
        height: 90vh;
        width: 95%;
        font-size: 12px;
    }
    

  
        ::-webkit-scrollbar{
        height: 15px;
        width: 10px;
        }
        
        ::-webkit-scrollbar-track{
        background: rgba(255, 255, 255, 0.2);
        }
        
        ::-webkit-scrollbar-thumb{
        background: #d93d3d;
        border-radius: 5px;
        }
}

.sidebar {
    flex: 2;
    overflow: scroll;
    overflow-x: hidden;
    width: 100%;      

    @media screen and (max-width: 1200px) {
        font-size: 14px;
    }
    @media screen and (max-width: 1024px) {
        font-size: 12px;
    }


    @media screen and (max-width: 768px) {
        display: none;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        margin-right: 5px;

        .user {
            display: flex;
            flex-direction: row;
            gap: 0.25rem;
            color: white;
            font-size: 30px;
        }            

        img {
            height: 36px;
            width: 36px;
            border-radius: 50%;
            object-fit: cover;
        }

        .chatButton {
            font-size: 11px;
            padding: 0px;
        }   
    }
}

.chat {
    flex: 5;


    .navbarChat {
        background-color: #d93d3d;
        color: white;
        height: 60px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 3px;
        border-radius: 15px;
        // border-top-right-radius: 10px;
        // border-bottom-right-radius: 10px;
        justify-content: space-between;

        @media screen and (max-width: 1200px) {
            height: 30px;
            margin-top: 10px;
            font-size: 13px;
        }        


        @media screen and (max-width: 1200px) {
            font-size: 10px;
        }        


        
        .navbarChatContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
        }

        .textLeft {
            flex: 7;
            margin-left: 10px;
        }

        .navbarChatIcons {
            flex: 1;
            margin-right: 15px;
            display: flex;
            font-size: 30px;
            cursor: pointer;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                font-size: 15px;
                justify-content: flex-end;
            }   

            @media screen and (max-width: 480px) {
                font-size: 13px;
                justify-content: flex-end;
            }   

            
            @media screen and (max-width: 1024px) {
                font-size: 18px;
                justify-content: flex-end;
            }           

        }
  
    }
}

.search {
    position: relative;
    padding: 0px 10px;

    .inputItemSearch {
        display: flex;
        height: 32px;
        width: 100%;
        border-radius: 10px;
        padding: 10px;
        outline: none;
        border: transparent;
        color: white;
        font-size: 15px;
        margin: 0.5rem 0;
    }


    .searchIcon {
        position: absolute;
        top: 7px;
        color: white;
        left: 320px;
    }

    .userChat {
        padding: 0px 5px;
        border-bottom: solid 2px #d93d3d;

        img {
            height: 48px;
            width: 48px;
            border-radius: 50%;
            border: solid 1px rgba(grey, 0.5);
        }

        .profile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
        }

        .userChatInfo {
            font-size: 15px;
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }


        &:hover {
            background-color: #d93d3d;
        }
    }        
}


.chats {
    padding: 0px 10px;


    .userChat {

        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 2px;
        transition: all 0.3s linear;

        @media screen and (max-width: 1200px) {
            height: 80px;
            height: auto;
        }
        @media screen and (max-width: 1024px) {
            margin-top: 1px;
        }
    

        img {
            height: 48px;
            width: 48px;
            border-radius: 50%;
            border: solid 1px rgba(grey, 0.5);

            @media screen and (max-width: 1200px) {
                height: 36px;
                width: 36px;
            }
            @media screen and (max-width: 1024px) {
                height: 36px;
                width: 36px;
            }
    
        }

        .profile {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .userChatInfo {
            font-size: 14px;
            color: white;
            display: flex;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            flex-direction: row;
            justify-content: flex-end;

            @media screen and (max-width: 1200px) {
                font-size: 14px;
            }
            @media screen and (max-width: 1024px) {
                font-size: 12px;
            }
    
        }


        &:hover {
            background-color: #d93d3d;
        }
    }   
    }   

.messages {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 75%;
    overflow: scroll;
    overflow-x: hidden;


    @media screen and (max-width: 1480px) {
        height: 70%;
    }


    @media screen and (max-width: 1280px) {
        height: 68%;
    }

    @media screen and (max-width: 1024px) {
        height: 65%;
    }

    @media screen and (max-width: 768px) {
        height: 80%;
    }

    @media screen and (max-width: 568px) {
        height: 80%;
    }

    
}

.inputChat {
    display: flex;

    .inputChatContainer {
        display: flex;
        width: 95%;
        border: solid 1px #000;
        margin-left: 10px;
        background-color: #d93d3d;
        border-radius: 10px;
        border-color: #d93d3d;

        &:focus {
            color: white;
        }

        .inputChatItem {
            border: transparent;
            font-size: 16px;
            color: white;

            @media screen and (max-width: 1480px)  {
                font-size: 14px;
            }

            @media screen and (max-width: 1024px)  {
                font-size: 11px;
            }

        }
    }

    .inputIcon {
        font-size: 40px;
        margin-left: 5px;
        justify-content: center;
        align-items: center;
    }

}

.message {
    margin-top: 5px;
    margin-right: 10px;
    background-color: $messagecolor;
    border-radius: 20px;
    border-top-left-radius: 0px;

}

.messageContainer {
    display: flex;
    margin-top: 2px;
    flex-direction: row;
    height: auto;
    min-height: 80px;
    margin-left: -10px;
    
    .playerProfileBox {

    display: flex;
    flex-direction: column;
    margin-left: 10px;


    .playerMessagePhoto {
            width: 32px;
            height: 32px;
            display: flex;
            flex-direction: column;
            border-radius: 50%;
            object-fit: cover;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            margin-left: 15px;
        }
    
    .playerMessageName {
        color: white;
        margin-left: 16px;
        font-size: 12px;
    }
    }

    .playerMessage {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 15px;

        .playerMessageData{
            color:rgb(225, 133, 53);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 12px;
            flex-direction: row;
            justify-content:  flex-start;
            width: 100%;
        }
    }
}

